.button {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--background);
  color: var(--text);
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  outline: var(--border);

  padding: 0.5rem 1rem;
  cursor: pointer;
  height: fit-content;

  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: none;

  transition: all 50ms linear;
  touch-action: manipulation;

  &.submit {
    font-size: large;
    font-weight: 400;
    width: inherit;
  }

  &.warn,
  &.active {
    color: var(--hlt);
  }

  &:active {
    color: var(--hlt);
    transform: translateY(2px);

    &.warn {
      color: var(--text);
    }
  }

  &:focus {
    border: var(--border);
    font-style: italic;
  }

  &:hover {
    opacity: 90%;
  }
}