.button {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--background);
  color: var(--text);
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  outline: var(--border);

  position: relative;
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 40px;

  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: none;

  transform: translateY(0px);
  transition: all 200ms linear;
  touch-action: manipulation;

  &.submit {
    font-size: large;
    font-weight: 400;
    width: 100%;
  }

  &.warn,
  &.active {
    color: var(--hlt);
  }

  &:active {
    color: var(--hlt);
    transform: translateY(2px);

    &.warn {
      color: var(--text);
    }
  }

  &:focus {
    border: var(--border);
    font-style: italic;
  }

  &:hover {
    opacity: 90%;
  }

  &.notified {
    > .badge {
      color: var(--text);
    }
  }

  > .badge {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: small;
    font-weight: bold;
    color: var(--hlt);
  }
}