.field {
  --field-bg-color: var(--background);
  --field-color: var(--text);
  --field-height: 2rem;
  margin: 0.25rem;

  position: relative;
  padding: 0;
  background-color: transparent;

  > input[type='text'].field-input {
    position: absolute;
    top: 0;
    width: 0;

    outline: none;
    border: none;
    border-radius: var(--radius);

    background-color: var(--field-bg-color);
    color: var(--field-color);

    font-size: 1.1rem;
    line-height: var(--field-height);

    &:not(:placeholder-shown),
    &.focused,
    &:focus {
      background-color: var(--field-bg-color);
      outline: var(--border);

      width: calc(100% - (2 * var(--field-height)));
      padding-left: var(--field-height);
      padding-right: var(--field-height);
      transition: width 500ms;

      + .field-submit {
        visibility: visible;
        opacity: 1;
        transition: opacity 1000ms 500ms;
      }
    }

    &::placeholder {
      color: var(--text);
      opacity: 0.5;
    }
  }

  > .field-msg {
    font-size: x-small;
    font-style: italic;
    display: block;
    visibility: hidden;

    &.active {
      visibility: visible;
      color: var(--hlt);
    }

    &.invalid {
      visibility: visible;
      color: var(--warn);
    }
  }

  > .field-submit,
  > .field-focus {
    position: absolute;
    cursor: pointer;
    top: 0;
    height: var(--field-height);
    width: var(--field-height);
    z-index: 1;
  }

  > .field-focus {
    left: 0;
  }

  > .field-submit {
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}
