.field {
  --field-height: 2rem;
  border: none;
  border-radius: var(--radius);
  outline: none;
  position: relative;

  &.focused {
    box-shadow: var(--shadow);
  }

  > input[type='text'].field-input {
    position: absolute;
    top: 0;
    width: 0;

    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-sans), sans-serif;
    background-color: transparent;
    border-radius: var(--radius);
    color: var(--text);

    &:not(:placeholder-shown),
    &.focused,
    &:focus {
      background-color: var(--background);
      outline: var(--border);

      width: calc(100% - (2 * var(--field-height)));
      line-height: var(--field-height);
      padding-left: var(--field-height);
      padding-right: var(--field-height);
      transition: width 500ms;

      + .field-submit {
        visibility: visible;
        opacity: 1;
        transition: opacity 1000ms 500ms;
      }
    }

    &::placeholder {
      /*color: var(--text);*/
      opacity: 0.5;
    }
  }

  > .field-msg {
    font-size: x-small;
    font-style: italic;
    display: block;
    visibility: hidden;

    &.active {
      visibility: visible;
      color: var(--hlt);
    }

    &.invalid {
      visibility: visible;
      color: var(--err);
    }
  }

  > .field-submit,
  > .field-focus {
    position: absolute;
    cursor: pointer;
    top: 0;

    height: var(--field-height);
    width: var(--field-height);
    z-index: 1;
  }

  > .field-focus {
    left: 0;
  }

  > .field-submit {
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}
