.menu {
  white-space: nowrap;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;

  > .title {
  }

  > .menu-items {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 10rem;
    font-family: var(--font-sans), sans-serif;
    font-size: larger;
    font-weight: normal;
    background-color: var(--background);
    color: var(--text);
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    > .menu-item {
      padding: 0.5rem 3rem 0.5rem 1rem;

      &:hover {
        text-decoration: underline var(--text) dotted 1px;
      }
    }
  }

  &:hover > .menu-items {
    display: block;
    animation: fade-in ease 200ms;

    > .menu-item {
      animation: fade-in linear 500ms;
    }
  }
}