#user-profile {
  right: 0;
  padding: 0 1rem;
  text-align: center;

  & .button.submit {
    margin-top: 2rem;
  }

  & img {
    border-radius: 50%;
    box-shadow: var(--shadow);
    object-fit: contain;
    width: 90%;
    padding: 0.25rem;
    background-color: var(--background);
  }

  & #account-summary-manage {
    white-space: normal;
    padding: 0.5rem;
    align-content: end;
  }

  & .title {
    margin-bottom: 2rem;
  }
}

#user-login {
  .fields {
    margin: 1rem 0 2rem 0;

    .field {
      margin: 1rem 0;
    }
  }
}