#cart {
  display: none;
}

#cart-avatar {
  position: relative;
  margin: 0 0.5rem;
}

#cart-summary {
  text-align: center;

  & .items {
    padding: 2rem;
    margin: 2rem;
  }

  & .subtotal {
    padding: 0 1rem;
    margin: 1rem;
  }

  & .button.submit {
  }
}
