#status {
  display: flex;
  flex: 2;

  & #active-route {
    font-size: small;
    padding-right: 0.25rem;
    text-align: right;
    text-transform: uppercase;
  }
}

#adminOptions {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-transform: uppercase;
  /*visibility: hidden;*/

  > #menu-vertical {
    flex: 1;
  }

  > #theme {
    flex: 1;
    font-size: small;
  }
}

#demo-avatar {
  & .back {
    right: unset;
    left: 0;

    & .menu {
      padding: 0;
      margin: 4px 0;
    }
  }

  &:hover > .spinner {
    transform: rotateX(180deg);
  }
}

#search-avatar, #user-avatar, #cart-avatar {
  & svg {
    height: 2rem;
    width: 2rem;

    &:hover {
      cursor: pointer;
      color: var(--hlt);
    }
  }
}
